$breakpoint-laptop: 1367px;
$breakpoint-tablet: 1199px;
$breakpoint-mobile: 599px;
$breakpoint-low-mobile: 479px;
$breakpoint-374: 374px;

@mixin breakpoint-laptop {
  @media (max-width: $breakpoint-laptop) {
    @content;
  }
}

@mixin breakpoint-tablet {
  @media (max-width: $breakpoint-tablet) {
    @content;
  }
}

@mixin breakpoint-mobile {
  @media (max-width: $breakpoint-mobile) {
    @content;
  }
}

@mixin breakpoint-low-mobile {
  @media (max-width: $breakpoint-low-mobile) {
    @content;
  }
}

@mixin breakpoint-374 {
  @media (max-width: $breakpoint-374) {
    @content;
  }
}