:root {
  --color-white: #FFFFFF;
  --color-black: #000000;

  --font-family-base: 'Gilroy', sans-serif; // Пример основного шрифта

  --container-width: 1380px; // Ширина контейнера
  --container-padding-x: 20px;

  --transition-duration: 0.2s;

}
